{% extends "lab_4/layout/base.html" %}

{% block content %}
<img class="img-circle" id="myPhoto" src="https://vignette.wikia.nocookie.net/boboiboy/images/9/9e/Boboiboy_Ice_Adorbs_2.jpg/revision/latest?cb=20170416054420" alt="FotoProfil" height="15%" width="15%" align="right">
<font color="white" face = "comic">
<h1>Portofolio</h1>
<hr/>
<font color="white" face = "courier">
<section name="bio" style="background-color: grey">
    <h2>Bio</h2>
    <p>
        {{content}}
    </p>    
</section>
<hr/>
<section name="about_me" >
    <h2>List</h2>
    <ul>
        {% for ii in about_me %}
        <li> {{ ii }} </li>
        {% endfor %}
    </ul>
</section>
<hr/>
<section name="form">
    <h2>Send Message</h2>
    <form id="form" method="POST" action="{% url 'lab-4:add_message' %}">
        <!-- <label for="id_name">Name:</label>
        <input type="text" name="name" class="form-control" placeholder="BoBoiBoy Thunderstorm" maxlength="27" id="id_name">
        <label for="id_email">Email:</label>
        <input type="email" name="email" class="form-control" placeholder="exampleboi@boiboi.com" id="id_email">
        <label for="id_message">Message:</label>
        <textarea name="message" cols="40" rows="10" class="form-control" placeholder="Boi send me a mesej." required id="id_message"></textarea>
 -->        {% csrf_token %}
        {{ message_form }}
        <br>
        <button type="submit" class="btn btn-default">Submit</button>
    </form>
</section>

{% endblock %}

